/* Structure Globale */

body {
    /* padding-top: 13%;  */
    background-color: #eee;
}


/* Responsive Header size */
.pt-header-xs { padding-top: 22rem; } /* Default for very small screens */

@media (min-width: 576px) {
  .pt-header-sm { padding-top: 17rem; }
}

@media (min-width: 768px) {
  .pt-header-md { padding-top: 14rem; }
}

@media (min-width: 992px) {
  .pt-header-lg { padding-top: 12rem; }
}

@media (min-width: 1200px) {
  .pt-header-xl { padding-top: 12rem; }
}

/* Specific high-density small screens */
@media only screen and (max-width: 575.98px) and (min-device-pixel-ratio: 2), 
       only screen and (max-width: 575.98px) and (min-resolution: 192dpi) {
    .pt-header-xs { padding-top: 25rem; } /* Adjusted padding for high-density small screens */
}

/* Responsive title margin */
.pt-title-xs { padding-top: 4rem; } /* Default for very small screens */

@media (min-width: 576px) {
  .pt-title-sm { padding-top: 0rem; } 
}

@media (min-width: 768px) {
  .pt-title-md { padding-top: 0rem; }
}

@media (min-width: 992px) {
  .pt-title-lg { padding-top: 0rem; }
}

@media (min-width: 1200px) {
  .pt-title-xl { padding-top: 0rem; }
}

/* Specific high-density small screens */
@media only screen and (max-width: 575.98px) and (min-device-pixel-ratio: 2), 
       only screen and (max-width: 575.98px) and (min-resolution: 192dpi) {
    .pt-title-xs { padding-top: 4rem; } /* Adjusted padding for high-density small screens */
}


.container {
    display: flex;
}

.flexcolumn {
    padding-top: 50px;
} 


/* En-tête */
header {
    background-color: #eee;
    margin-right: 0;
    margin-left: 0;
}

.header-top {
    padding-top: 1%;
    padding-bottom: 1%;
}

.nav-tabs {
    padding: 5px;
    margin-top: 5px;
    background-color: #172a2b;
    justify-content: center; 
    width: 100%;
}

.nav-link,
.navbar {
    color: #fff;
    background-color: #172a2b;
    font-size: large;
    font-weight: bold;
}

.nav-link-top {
    margin-left: 50px;
    margin-right: 50px;
}

.nav-link-side {
    color: #172a2b;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
}

.nav-link.active {
    background-color: #437e80;
}

.nav-item-side {
    margin-left: 5%;
}

.welcome-title {
    margin: 1%;
    padding: 1%;
}

.dropdown-menu {
    display: none;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.blue-button {
    color:#fff;
    background-color: #437e80;
}

/* En-tête réduit */
.header-reduced {
    padding: 0.5rem 0.5rem;
    transition: all 0.5s ease;
  }
  
  .header-reduced img {
    height: 50px; /* Réduit la taille du logo */
  }
  
  .header-reduced .form-control {
    height: 30px; /* Réduit la hauteur de la barre de recherche */
    font-size: 14px; /* Réduit la taille de la police dans la barre de recherche */
  }
  
  .header-reduced .bi {
    font-size: 1rem; /* Réduit la taille des icônes Bootstrap */
  }
  
  .header-reduced .nav-tabs {
    display: none; /* Cache la barre de navigation dans l'entête réduit */
  }


/* Sidebar */
.sidebar,
.sidebar-large,
.overlay-sidebar {
    height: 100vh;
    background-color: #eee;
}

.sidebar-small,
#expandSidebarBtn {
    position: relative;
    left: 0;
    top: 0;
}

.sidebar-large {
    position: fixed;
    left: -200px;
    top: 0;
    width: 200px;
    z-index: 1040;
    transition: left 0.0s;
    padding-top: 60px;
}

.sidebar-subitem {
    /* background-color: #fff; */
    color: #172a2b;
}

.collapse {
    left: -200px;
}

.collapse.show {
    left: 0;
}

.overlay-sidebar .close {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 1.5rem;
    color: #000;
}

.overlay {
    display: none; 
    position: fixed;
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1029;
}

/* Contenu Principal */
.content {
    background-color: #fff;
    color: #172a2b;
    height: 100%;
}

.text-box {
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    background-color: white;
    color: #437e80;
}

.inner-text {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}

/* Pied de page */
.footer {
    background-color: #172a2b;
    color: white;
    text-align: center;
    padding: 10px;
}