#point-relay-result {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 500px;
}

#sameAsFactInp {
    display: inline-block;
}

#point-relay-result > ul {
    grid-column: 1 / 2;
    overflow-y: auto;
    height: 300px;
    list-style: none;
    padding: 0;

    li:nth-child(even) {
        background-color: gainsboro;
    }

    li.active {
        background-color: gray;
    }

    div.name {
        font-weight: bold;
    }

    div.openTime {
        font-size: 14px;
        font-weight: lighter;
    }
}

#map {
    grid-column: 2 / 3;
    height: 300px;
}

#pt-relay-search-ul,
#address-bill-search-ul,
#address-search-ul {    
    visibility: hidden;
    z-index: 5;
    background-color: #EEEEEE;
}

.autocomplet-input:focus-within > #pt-relay-search-ul,
#pt-relay-search-ul:focus-within,
.autocomplet-input:focus-within > #address-bill-search-ul,
#address-bill-search-ul:focus-within,
.autocomplet-input:focus-within > #address-search-ul,
#address-search-ul:focus-within {
    visibility: visible;
}

#pt-relay-search-ul:empty,
#address-bill-search-ul:empty,
#address-search-ul:empty {
    visibility: hidden !important;
}