.info-perso,
.livraison {
    display: flex;
    width: 70%;
    flex-direction: column;
}

.home,
.info-perso > div,
.home > div:not(.home-check-div) {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input {
    padding: 4px;
}

.livraison ul {
    list-style-type: none;
}

.home-check-div {
    padding: 8px 16px;
    font-weight: bold;
    border: 1px solid black;
    width: fit-content;
    align-self: center;
}

.autocomplet-input {
    position: sticky;

    & > ul.absolute-ul {
        visibility: hidden;
        top: 100%;
        position: absolute;
        background-color: greenyellow;
        margin: 0;
        padding: 8px;
    }

    & li:hover {
        background-color: green;
        cursor: pointer;
    }
}

#header-point-relay {
    display: flex;
    gap: 8px;
    width: 100%;

    & > .autocomplet-input {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
}

#point-relay-result {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 500px;
}

#point-relay-result > ul {
    grid-column: 1 / 2;
    overflow-y: auto;
    height: 300px;

    & > li:nth-child(even) {
        background-color: gainsboro;
    }

    & > li.active {
        background-color: gray;
    }

    & div.name {
        font-weight: bold;
    }

    & div.openTime {
        font-size: 14px;
        font-weight: lighter;
    }
}

#map {
    grid-column: 2 / 3;
    height: 300px;
}

.autocomplet-input:focus-within > ul.absolute-ul,
ul.absolute-ul:focus-within {
    visibility: visible;
}

ul.absolute-ul:empty {
    visibility: hidden !important;
}